DJANGO_SETTINGS_MODULE=settings
SECRET_KEY=smth_secret_key
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_password
DB_HOST=db_host
DB_PORT=db_port
ALLOWED_HOSTS=hosts
REDIS_URL=redis://127.0.0.1:6379/1
EMAIL_HOST_USER=email
EMAIL_HOST_PASSWORD=password
DEFAULT_FROM_EMAIL=email_sender